@charset "utf-8";
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0;}
ul{ list-style:none;}
button{ border:0 none; padding:0; cursor:pointer;}
img{ border:0;}
.clear {clear:both;}
.clear_fix {zoom:1;}
.clear_fix:after {display:block;clear:both;content:".";visibility:hidden;height:0;font-size:0;}
.topBanner{ width: 100%; min-width: 960px; height:79px;}
.topBanner a{width: 100%; height:79px; display: block; background: url(http://www.kugou.com/common/images/topbanner.jpg) no-repeat top center;}
#public-header a,#public-nav a,#public-footer a{ text-decoration:none; outline:0}
/*header*/
#public-header{ font:12px/1.5 \5b8b\4f53, Arial, Verdana; height:95px; background:#fff url(http://www.kugou.com/common/images/default.png) no-repeat 0 -65px; position:relative; width:960px; margin:0 auto}
#public-header a:hover{ text-decoration:underline}
#public-header .link{ width:163px; height:46px; position:absolute; text-indent:-9999px; left:8px; top:38px; z-index:10}
#public-header .login{ position:absolute; right:0; top:20px; background:url(http://www.kugou.com/common/images/default.png) no-repeat 121px 0; padding-right:20px;}
#public-header .blue{color:#45BEEE!important; text-decoration:underline; margin-right:5px; display:inline-block}
#public-header .login a{ color:#888;}
#public-header .logined{padding-right:0!important; right:2px; background:#fff;}
#public-header .logined .pic{ position:absolute; left:-40px; top:-16px}
/*btn_zhao*/
#public-header .logined a.btn_zhao{left:-133px;}
#public-header .login a.btn_zhao{position:absolute;right:164px;top:-2px;width:82px;height:22px;background:url(http://www.kugou.com/common/images/ico_zhao.png) no-repeat;}
#public-header .login a.btn_zhao:hover {background-position:0 -22px;}
/*修改密码*/
.tipwrapper{ position: absolute;width: 300px; top:42px; right:0px;height: 27px; line-height: 27px; display: none;}
.tips{ position: relative; width: auto; height: 27px; line-height: 27px; }
.tips .arrow{ position:absolute; top:-9px; right:80px;  width:10px; height: 10px;}
.tips .arrow .a1{ display:none;border-color:transparent transparent #333;  top:-1px}
.tips .arrow .a2{position:absolute; top:0px;width: 0px;height:0px;line-height: 0px;border-width: 5px 5px 5px 5px;border-style:dashed dashed solid dashed;border-top-color: transparent;border-left-color: transparent;border-right-color: transparent;border-bottom-color: #333;}
.tips .tipsContent{ width:280px; *height: 27px; *line-height: 27px; _height: 20px; _line-height: 20px; padding:0px 10px;  _padding:7px 10px 0px 10px; background: #333; color: #fff; zoom:1;}
.tips .tipsContent a{ *margin:7px 0px;  padding:0px 3px; color: #b73434;vertical-align: middle;}
.tips .tipsContent span{*margin:7px 0px; vertical-align: middle; cursor: pointer;}
.tips .tipsContent span img{ vertical-align: middle; }


#public-header .download{ position:absolute; right:3px; bottom:8px; color:#45beee}
#public-header .download a{ color:#45beee; display:inline-block; padding-left:23px;}
#public-header .download a.game{ background:url(http://www.kugou.com/common/images/default.png) no-repeat -132px 0}
#public-header .download a.client{ background:url(http://www.kugou.com/common/images/default.png) no-repeat -218px 0; padding-left:16px}
#public-header .download a.player{ background:url(http://www.kugou.com/common/images/default.png) no-repeat -432px 2px}
#public-header .search{ position:absolute; left:380px; top:52px; width:238px; height:28px; border:1px solid #c4cacb}
#public-header .search input,#public-header .search button{ float:left;}
#public-header .search .ipt{ width:190px; padding-left:5px; height:24px; line-height:24px; color:#999; border:0 none; background:#fff; margin-top:2px; border-right:1px solid #c4cacb}
#public-header .search .sbtn{ width:41px; height:28px; background:url(http://www.kugou.com/common/images/search.png) no-repeat center center; border:0 none;}
/*nav*/
#public-nav{ position:relative; font-family:Microsoft YaHei; background:url(http://www.kugou.com/common/images/bg.png) repeat-x; height:35px; width:960px; margin:0 auto}
#public-nav li{ float:left; position:relative;}
#public-nav ul{ float:left; height:35px;}
#public-nav .n1 a{ color:#fff; font-size:14px; height:35px; line-height:35px; width:85px; text-align:center; display:block;}
#public-nav .hover a,#public-nav .n1 a:hover,#public-nav .n2 a:hover{ background:#80dbff}
#public-nav a.h{ background:#80dbff; color:#fff; }
#public-nav .hover{ position:relative}
#public-nav .hover span{ border-style:dashed dashed solid dashed; border-color:transparent transparent #fff transparent; border-width:5px; position:absolute; bottom:-1px; left:50%; margin-left:-5px; font-size:0; line-height:0}
#public-nav .nav-line,
#public-nav .nav-line-new{ float:left; width:12px; height:35px; background:url(http://www.kugou.com/common/images/default.png) no-repeat -337px 0;  margin:0 15px 0 40px; display:inline}
#public-nav .n2 a{ padding:0 10px; font-size:12px; height:35px; color:#fff; line-height:35px; margin-left:10px; display:inline; float:left}

#public-nav .nav-line-new{ float:right; margin:0; margin-right:15px; }
#public-nav .n2_new{ float:right; display:inline; margin-right:20px; }

/*footer*/
#public-footer{ font:12px/1.5 宋体,Arial,Verdana; clear:both; margin:0 auto 0; width:960px; padding:80px 0 20px; color:#b2b2b2; position:relative;}
#public-footer p{ padding:0 15px}
#public-footer .footer-line{border-top:1px solid #c2c2c2; margin-top:10px; height:10px; line-height:0; font-size:0}
#public-footer .nav{ color:#9b9b9b; padding-top:8px; }
#public-footer .nav a{ color:#878787; font-size:14px; display:inline-block; margin-bottom:5px; *margin-bottom:0;}
#public-footer .nav a:hover{color:#5a5a5a; text-decoration:underline}
#public-footer .link{ width:153px; height:43px; background:url(http://www.kugou.com/common/images/default.png) no-repeat -200px -538px; position:absolute; text-indent:-9999px; bottom:5px; right:15px}

/*chrismax*/
#snow{ padding:20px 0 0 7px; background:url(http://www.kugou.com/common/images/snow.png) no-repeat;_background:none;
 _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://www.kugou.com/common/images/snow.png', sizingMethod='crop'); width:961px; height:46px; position:absolute; top:90px; left:-7px; z-index:2}
#snow a{ float:left; width:107px; height:35px;}
#snow a.m{ margin-right:66px}
#snow a.o{ width:78px;}
.chrismax-head{ background:url(http://www.kugou.com/common/images/chrisHead.png) no-repeat !important; height:110px !important; z-index:2;}

.yuandan-head{ background:url(http://www.kugou.com/common/images/yuandan.png) no-repeat !important; height:110px !important; z-index:2;}

/* new icon */
.new_icon{ display:inline-block; width:0; height:12px; padding-left:32px; overflow:hidden; background:url(http://www.kugou.com/common/images/new_icon.png) no-repeat;}
#public-nav li .new_icon{ position:absolute; top:6px; right:-10px;}

/*gb_logo*/
#public-header a.gb_logo{position:absolute;width:188px;height:42px;top:38px;left:9px;}
#public-header a.gb_logo:hover {background:url(http://www.kugou.com/common/images/home.png) 160px 3px no-repeat;}

